# Core Streamlit dependencies
streamlit==1.18.1

# Data handling and manipulation
pandas==2.2.3
numpy==1.26.4
PyPDF2==3.0.1
openpyxl==3.1.5

# NLP and language models
langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.6
langchain-text-splitters==0.3.0
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
tiktoken==0.4.0
tokenizers==0.13.3
transformers==4.31.0

# Machine learning and scientific computing
scikit-learn==1.5.2
scipy==1.13.1
torch==2.4.1
torchvision==0.19.1

# HTTP and APIs
httpx==0.27.2
requests==2.27.1
openai==0.27.6
huggingface-hub==0.25.1

# Misc. utilities and tools
certifi==2024.8.30
charset-normalizer==2.0.12
aiohttp==3.10.5
attrs==24.2.0
fsspec==2024.9.0
multidict==6.1.0
yarl==1.11.1
async-timeout==4.0.3
blinker==1.8.2
filelock==3.16.1

# Builders and compilers
cmake
scikit-build
wheel

# Other dependencies potentially required for your environment
tornado==6.4.1
Pygments==2.18.0
jinja2==3.1.4
importlib_metadata==8.5.0
toml==0.10.2
six==1.16.0
